<h1>Public::Lists#index</h1>
<p>Find me in app/views/public/lists/index.html.erb</p>

<h1>投稿一覧</h1>

<% @lists.each do |list| %>
  <p>タイトル</p>
  <span><%= list.title %></span>
  <p>材料</p>
  <span><%= list.material %></span>
  <p>本文</p>
  <span><%= list.body %></span>

<% end %>