<div class="container text-center">
  <h1>投稿一覧</h1>

  <div class="album py-5">
    <div class="row">
      <%= render 'public/lists/index', lists: @lists %>
    </div>
    <%= paginate @lists %>
  </div>
</div>


