<h1>Public::Lists#index</h1>
<p>Find me in app/views/public/lists/index.html.erb</p>

<h1>投稿一覧</h1>

<% @lists.each do |list| %>
  <p>タイトル</p>
  <%= link_to list.title, list_path(list.id)  %>

  <p>画像</p>
  <% if list.image.attached? %>
  <%= image_tag list.image, size: "200x200" %>
  <% else %>
  <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <%= link_to "削除", list_path(list), method: :delete %>

<% end %>