<%= flash[:error] %>
<div class="container" >

  <div class="card">
    <%= image_tag "haraheri.png" %>
    <div class="card-img-overlay align-items-center d-flex justify-content-center">
      <div class="col-md-8 color:#ffffff; background-color:rgba(0, 0, 0, 0.5);">
        <strong>
        <h4>空腹では何をするにも力が入らず、よい結果を得ることはできない。</h4>
        <h5>料理の技術もいらない、疲れは時でも簡単に美味しく作れる『ズボラ飯』レシピを投稿するサイトです。<br>
        手を抜けるところは抜いていきましょう、<br>
        火を使わなくても、レンジや炊飯器等もあります。
        包丁を使わなくても、千切ったり鋏でもいいんです。
        時間ができた時に簡単な作り置きをしておき後は楽をする事もできます。<br>
        <br>
        とりあえず、腹ごしらえをしましょう！
        </h5>
        </strong>
      </div>
    </div>
  </div>
</br>


  <div class="border border-light rounded" style="background-color: #ffffFF;  padding:30px;">
    <h4 class="fa-solid fa-sparkles">新着</h4>

  <div class="album py-5">
    <div class="row">
      <%= render 'public/lists/index', lists: @lists %>
    </div>
  <h4><%= link_to ">>全て見る", lists_path %></h4>
</div>
</div>
</div>

