<h1>Admin::Homes#top</h1>
管理Top
<p>Find me in app/views/admin/homes/top.html.erb</p>
<%= link_to "会員一覧", admin_users_path %>
<%= link_to "投稿一覧", admin_lists_path %>
<%= link_to "ジャンル", admin_genres_path %>
